In [8]:
import pandas as pd
import pymongo
from functools import reduce

In [50]:
#get data from website
ship_df = pd.read_html('https://en.wikipedia.org/wiki/List_of_shipwrecks_of_the_United_States')

#combine tables
ship_wreck_data = pd.concat(ship_df)

#drop Nans
ship_wreck_data = ship_wreck_data.dropna()

#drop duplicates
ship_wreck_data = ship_wreck_data.drop_duplicates()

#name columns
ship_wreck_data.columns = ['ship','sunk_date','notes','coordinates']

#drop the first row of data because it does not needed
ship_wreck_data = ship_wreck_data.drop([0])

#reset index
ship_wreck_data = ship_wreck_data.reset_index(drop=True)

# ship_wreck_data = ship_wreck_data.loc[ship_wreck_data['ship'] == 'CSS H. L. Hunley']
ship_wreck_data

,ship,sunk_date,notes,coordinates
0,Eliza Battle,1 March 1858,A commercial steamboat that caught fire and sa...,32°14′37″N 88°00′45″W﻿ / ﻿32.24359°N 88.01238°W
1,CSS Huntsville,12 April 1865,A Confederate ironclad warship scuttled in Spa...,30°46′09″N 88°01′14″W﻿ / ﻿30.76924°N 88.02053°W
2,USS Philippi,5 August 1864,A Union side-wheel gunboat sunk in Mobile Bay ...,30°23′01″N 88°02′00″W﻿ / ﻿30.3835°N 88.0334°W
3,CSS Phoenix,7 August 1864,A Confederate ironclad warship scuttled at Dog...,30°36′08″N 88°02′19″W﻿ / ﻿30.60231°N 88.03860°W
4,USS Tecumseh,5 August 1864,A Union monitor warship sunk by a naval mine (...,30°13′54″N 88°1′33″W﻿ / ﻿30.23167°N 88.02583°W
5,CSS Tuscaloosa,12 April 1865,A Confederate ironclad warship scuttled in Spa...,30°46′09″N 88°01′14″W﻿ / ﻿30.76924°N 88.02053°W
6,FV Alaska Ranger,23 March 2008,A factory ship that flooded and sank off Unala...,53°53′N 169°58′W﻿ / ﻿53.883°N 169.967°W
7,SS Aleutian,26 May 1929,A passenger steamer which sank after striking ...,57°29′N 153°50′E﻿ / ﻿57.48°N 153.84°E
8,USS Grunion,30 July 1942,Discovered in the Bering Sea in August 2007.,52°14′16″N 177°25′5″E﻿ / ﻿52.23778°N 177.41806°E
9,I-24,11 June 1943,A Type C submarine that was sunk by USS Larchm...,53°16′N 174°24′E﻿ / ﻿53.267°N 174.400°E
10,I-31,13 May 1943,A Type B1 submarine sunk by gunfire near Attu ...,52°32′31″N 172°10′37″E﻿ / ﻿52.542°N 172.177°E
11,SS Islander,15 August 1901,A Canadian steamship sunk in Lynn Canal.,58°22′35″N 134°47′19″W﻿ / ﻿58.3765°N 134.7885°W
12,Nenohi,5 July 1942,A Hatsuharu-class destroyer that was torpedoed...,52°15′N 173°51′E﻿ / ﻿52.250°N 173.850°E
13,Oboro,17 October 1942,A Fubuki-class destroyer that was sunk by US a...,52°17′N 178°08′E﻿ / ﻿52.283°N 178.133°E
14,SS Princess Kathleen,7 September 1952,"A passenger steamer, sunk near Point Lena. Whe...",58°14′02″N 134°27′54″W﻿ / ﻿58.234°N 134.465°W
15,SS Princess Sophia,25 October 1918,A passenger liner sunk off Vanderbilt Reef nea...,58°36′08″N 135°01′25″W﻿ / ﻿58.6022°N 135.0236°W
16,MS Prinsendam,4 October 1980,A cruise ship that caught fire and sank off Ba...,55°52′59″N 136°27′00″W﻿ / ﻿55.883°N 136.450°W
17,Elmer S. Dailey,1974,A wooden barge that sank in Bridgeport Harbor.,41°10.42′N 73°11.14′W﻿ / ﻿41.17367°N 73.18567°W
18,Priscilla Dailey,1974,A wooden barge that sank in Bridgeport Harbor.,41°10.42′N 73°11.14′W﻿ / ﻿41.17367°N 73.18567°W
19,USS Cherokee,26 February 1918,A tugboat that foundered in a gale off Fenwick...,38°50′N 74°48′W﻿ / ﻿38.84°N 74.8°W
20,CSS Georgia,21 December 1864,A Civil War ironclad floating battery scuttled...,32°5′5″N 81°2′9″W﻿ / ﻿32.08472°N 81.03583°W
21,SMS Cormoran,7 April 1917,A German steamer scuttled in Apra Harbor to av...,13°27′33″N 144°39′15″E﻿ / ﻿13.45917°N 144.65417°E
22,USS Arizona,7 December 1941,A battleship lost in the Japanese bombing of P...,21°21′53″N 157°57′00″W﻿ / ﻿21.364775°N 157.950...
23,Carthaginian II,December 2005,A sailing boat that was sunk as an artificial ...,20°51′45.8″N 156°40′30.7″W﻿ / ﻿20.862722°N 156...
24,USS Utah,7 December 1941,A former battleship converted to a training an...,21°22′8″N 157°57′45″W﻿ / ﻿21.36889°N 157.96250°W
25,Arabia,5 September 1856,A steamboat that sank in the Missouri River. T...,39°10′24.97″N 94°40′12.89″W﻿ / ﻿39.1736028°N 9...
26,CSS Ram Arkansas,5 August 1862,A Confederate ironclad ram that was destroyed ...,30°29′14″N 91°12′5″W﻿ / ﻿30.48722°N 91.20139°W
27,El Nuevo Constante,September 1766,A merchant ship that ran aground after taking ...,29°34.837′N 92°39.299′W﻿ / ﻿29.580617°N 92.654...
28,CSS Louisiana,28 April 1862,"An ironclad that burned, exploded, and sunk ne...",29°21′48″N 89°27′41″W﻿ / ﻿29.36333°N 89.46139°W
29,U-166,30 July 1942,A German U-boat sunk by a depth charge from a ...,28°37′N 90°45′W﻿ / ﻿28.617°N 90.750°W
...,...,...,...,...
72,USS Keokuk,8 April 1863,"An experimental ironclad steamer, sunk in the ...",32°41′36″N 79°52′19″W﻿ / ﻿32.69333°N 79.87194°W
73,Mary Bowers,31 August 1864,"Iron-hulled sidewheel steamer of 680 tons, str...",32°46′47″N 79°45′35″W﻿ / ﻿32.77972°N 79.75972°W
74,USS Patapsco,15 January 1865,Struck a naval mine at Charleston.,32°45′55″N 79°53′29″W﻿ / ﻿32.765252°N 79.891281°W
75,USS Weehawken,6 December 1863,American Civil War monitor at Charleston.,32°42′57″N 79°53′25″W﻿ / ﻿32.7157°N 79.8903°W
76,Sultana,27 April 1865,A Mississippi River paddlewheeler that explode...,35°11′26″N 90°6′52″W﻿ / ﻿35.19056°N 90.11444°W
77,SS Grandcamp,16 April 1947,"Accidental detonation of 2,300 tons of ammoniu...",29°22′39″N 94°53′29″W﻿ / ﻿29.37750°N 94.89139°W
78,SS Nicaragua,16 October 1912,Ran aground on Padre Island.,26°41′34″N 97°19′06″W﻿ / ﻿26.69280°N 97.31820°W
79,Oaxaca,26 July 1942,A Mexican freighter torpedoed by U-171 near Po...,28°22′N 96°11′W﻿ / ﻿28.367°N 96.183°W
80,San Esteban,29 April 1554,A Spanish cargo ship that was wrecked in a sto...,26°33.20′N 97°25.52′W﻿ / ﻿26.55333°N 97.42533°W
81,USAS American Mariner,October 1966,A research vessel that was sunk as a target in...,38°02′25″N 76°09′17″W﻿ / ﻿38.04028°N 76.15472°W
82,USS Cumberland,8 March 1862,A frigate that was rammed by CSS Virginia at N...,36°57′42″N 76°25′54″W﻿ / ﻿36.96167°N 76.43167°W
83,USS Despatch,10 October 1891,A steamship that was wrecked in a gale off Ass...,37°58′42″N 75°14′48″W﻿ / ﻿37.9783°N 75.2467°W
84,CSS Florida,28 November 1864,A cruiser that collided with USAT Alliance at ...,37°04′24″N 76°32′35″W﻿ / ﻿37.0732°N 76.5431°W
85,USS John W. Weeks,19 November 1970,An Allen M. Sumner-class destroyer that was su...,37°10.9′N 73°45.6′W﻿ / ﻿37.1817°N 73.7600°W
86,USS Manta,16 July 1969,A Balao-class submarine that was sunk as a tar...,37°02′20″N 76°11′28″W﻿ / ﻿37.039°N 76.191°W
87,SMS Ostfriesland,21 July 1921,A Helgoland-class battleship sunk as a target ...,37°09′08″N 74°34′03″W﻿ / ﻿37.15222°N 74.56750°W
88,Ironsides,29 August 1873,A steamship that was stranded at Hog Island.,37°24′40″N 75°39′39″W﻿ / ﻿37.4110°N 75.6607°W
89,SS SeaBreeze,December 2000,A cruise ship that sank off the coast of Virgi...,36°54′21″N 72°08′50″W﻿ / ﻿36.9059°N 72.1472°W
90,USS Sumpter,24 June 1863,A steamship that sank in a collision near Smit...,37°05′48″N 75°42′14″W﻿ / ﻿37.0968°N 75.7040°W
91,USS Texas,21 March 1911,A pre-dreadnought battleship that was sunk as ...,37°43′10″N 76°05′00″W﻿ / ﻿37.71944°N 76.08333°W
92,SS Vestris,12 November 1928,A steamship that sank in a storm off Norfolk.,37°38′N 70°23′W﻿ / ﻿37.633°N 70.383°W
93,CSS Virginia,11 May 1862,An ironclad warship that was scuttled off Cran...,36°54′25″N 76°20′37″W﻿ / ﻿36.90694°N 76.34361°W
94,Hayate,11 December 1941,A Japanese destroyer sunk by US Marines.,19°10′N 166°22′E﻿ / ﻿19.167°N 166.367°E
95,Kisaragi,11 December 1941,A Japanese destroyer sunk by US Marines.,18°55′N 166°17′E﻿ / ﻿18.917°N 166.283°E
96,SS Catala,1 January 1965,A steamship that ran aground in a storm in Gra...,46°56′35″N 124°06′43″W﻿ / ﻿46.943°N 124.112°W
97,USS General M. C. Meigs,9 January 1972,A General John Pope-class troop transport that...,48°17′10″N 124°41′15″W﻿ / ﻿48.286095°N 124.687...
98,SS Great Republic,19 April 1879,An American steamboat accidentally run aground...,46°16′41″N 124°01′26″W﻿ / ﻿46.278°N 124.024°W
99,USS Memphis,13 May 1883,A steamship that caught fire at Seattle.,47°37′12″N 122°22′37″W﻿ / ﻿47.620°N 122.377°W
100,SS Milwaukee,22 October 1929,Sunk in Lake Michigan from storm damage.,43°08′11″N 87°49′55″W﻿ / ﻿43.13639°N 87.83194°W
101,By country,Australia Canada France United Kingdom (Englan...,United States,California Florida Great Lakes Massachusetts N...

In [56]:
for i, row in ship_wreck_data.iterrows():
    if row['coordinates'].find('/')==-1:
        print('could not find')
    else:
        latlong = row['coordinates'].split('/')[1]
        new_latlong = latlong.replace("°","").strip()
        lat = new_latlong.split()[0]
        long = new_latlong.split()[1]
        lat = lat[1:]

        #print(lat[:len(lat)-2])
        if lat[len(lat)-1] == 'S':
            lat = 0-float(lat[:len(lat)-2])
           # print(lat)
        else:
            lat = lat.strip("N")
            #print(lat)
        if long[len(long)-1] == 'W':
            long = 0-float(long[:len(long)-2])
            #print(long)
        else:
            long = long.strip("E")
        #print(long)
        try:

            ifor_val = [float(lat),float(long)]

            print(ifor_val)

        except:
            print("Sorry")

    ship_wreck_data.at[i,'coordinates']=ifor_val
ship_wreck_data

[32.24359, -88.0123]
[30.76924, -88.0205]
[30.3835, -88.033]
[30.60231, -88.0386]
[30.23167, -88.0258]
[30.76924, -88.0205]
[53.883, -169.96]
[57.48, 153.84]
[52.23778, 177.41806]
[53.267, 174.4]
[52.542, 172.177]
[58.3765, -134.788]
[52.25, 173.85]
[52.283, 178.133]
[58.234, -134.46]
[58.6022, -135.023]
[55.883, -136.45]
[41.17367, -73.1856]
[41.17367, -73.1856]
[38.84, -74.0]
[32.08472, -81.0358]
[13.45917, 144.65417]
[21.364775, -157.95011]
[20.862722, -156.67519]
[21.36889, -157.9625]
[39.1736028, -94.670247]
[30.48722, -91.2013]
[29.580617, -92.65498]
[29.36333, -89.4613]
[28.617, -90.75]
[43.62283, -70.2079]
[43.5577, -70.162]
[38.84, -74.0]
[38.13611, -76.5527]
[46.79, -85.6]
[47.14417, -88.4597]
[46.71278, -92.0286]
[47.27139, -91.2716]
[47.20611, -91.358]
[46.80333, -92.0111]
[46.84611, -91.7772]
[46.84722, -91.7288]
[46.78333, -92.0694]
[32.37583, -90.8666]
[38.611483, -90.1881]
[37.315, -89.5]
[38.79472, -90.4669]
[39.1332, -94.073]
[41.52333, -96.0288]
[40.1269, -73.656]
[40.17, -73.6]
[38.94444, -74.9719]
[38.617, -74.53]
[38.5008, -74.11]
[39.33, -73.2]
[39.578, -74.3]
[44.280333, -76.01971]
[40.5375, -73.0372]
[44.20583, -73.3775]
[43.42111, -73.7083]
[40.5902, -73.854]
[41.5167, -71.733]
[40.4229, -73.681]
[40.45, -73.8]
could not find
[38.687049, -83.57754]
[41.217, -71.45]
[32.79139, -79.9225]
[31.271639, -73.96283]
[32.77972, -79.7597]
[32.71861, -79.8047]
[32.733, -79.76]
[32.69333, -79.8719]
[32.77972, -79.7597]
[32.765252, -79.89128]
[32.7157, -79.89]
[35.19056, -90.1144]
[29.3775, -94.8913]
[26.6928, -97.3182]
[28.367, -96.18]
[26.55333, -97.4253]
[38.04028, -76.1547]
[36.96167, -76.4316]
[37.9783, -75.246]
[37.0732, -76.543]
[37.1817, -73.76]
[37.039, -76.19]
[37.15222, -74.5675]
[37.411, -75.66]
[36.9059, -72.147]
[37.0968, -75.704]
[37.71944, -76.0833]
[37.633, -70.38]
[36.90694, -76.3436]
[19.167, 166.367]
[18.917, 166.283]
[46.943, -124.11]
[48.286095, -124.68756]
[46.278, -124.02]
[47.62, -122.37]
[43.13639, -87.8319]
could not find

,ship,sunk_date,notes,coordinates
0,Eliza Battle,1 March 1858,A commercial steamboat that caught fire and sa...,"[32.24359, -88.0123]"
1,CSS Huntsville,12 April 1865,A Confederate ironclad warship scuttled in Spa...,"[30.76924, -88.0205]"
2,USS Philippi,5 August 1864,A Union side-wheel gunboat sunk in Mobile Bay ...,"[30.3835, -88.033]"
3,CSS Phoenix,7 August 1864,A Confederate ironclad warship scuttled at Dog...,"[30.60231, -88.0386]"
4,USS Tecumseh,5 August 1864,A Union monitor warship sunk by a naval mine (...,"[30.23167, -88.0258]"
5,CSS Tuscaloosa,12 April 1865,A Confederate ironclad warship scuttled in Spa...,"[30.76924, -88.0205]"
6,FV Alaska Ranger,23 March 2008,A factory ship that flooded and sank off Unala...,"[53.883, -169.96]"
7,SS Aleutian,26 May 1929,A passenger steamer which sank after striking ...,"[57.48, 153.84]"
8,USS Grunion,30 July 1942,Discovered in the Bering Sea in August 2007.,"[52.23778, 177.41806]"
9,I-24,11 June 1943,A Type C submarine that was sunk by USS Larchm...,"[53.267, 174.4]"
10,I-31,13 May 1943,A Type B1 submarine sunk by gunfire near Attu ...,"[52.542, 172.177]"
11,SS Islander,15 August 1901,A Canadian steamship sunk in Lynn Canal.,"[58.3765, -134.788]"
12,Nenohi,5 July 1942,A Hatsuharu-class destroyer that was torpedoed...,"[52.25, 173.85]"
13,Oboro,17 October 1942,A Fubuki-class destroyer that was sunk by US a...,"[52.283, 178.133]"
14,SS Princess Kathleen,7 September 1952,"A passenger steamer, sunk near Point Lena. Whe...","[58.234, -134.46]"
15,SS Princess Sophia,25 October 1918,A passenger liner sunk off Vanderbilt Reef nea...,"[58.6022, -135.023]"
16,MS Prinsendam,4 October 1980,A cruise ship that caught fire and sank off Ba...,"[55.883, -136.45]"
17,Elmer S. Dailey,1974,A wooden barge that sank in Bridgeport Harbor.,"[41.17367, -73.1856]"
18,Priscilla Dailey,1974,A wooden barge that sank in Bridgeport Harbor.,"[41.17367, -73.1856]"
19,USS Cherokee,26 February 1918,A tugboat that foundered in a gale off Fenwick...,"[38.84, -74.0]"
20,CSS Georgia,21 December 1864,A Civil War ironclad floating battery scuttled...,"[32.08472, -81.0358]"
21,SMS Cormoran,7 April 1917,A German steamer scuttled in Apra Harbor to av...,"[13.45917, 144.65417]"
22,USS Arizona,7 December 1941,A battleship lost in the Japanese bombing of P...,"[21.364775, -157.95011]"
23,Carthaginian II,December 2005,A sailing boat that was sunk as an artificial ...,"[20.862722, -156.67519]"
24,USS Utah,7 December 1941,A former battleship converted to a training an...,"[21.36889, -157.9625]"
25,Arabia,5 September 1856,A steamboat that sank in the Missouri River. T...,"[39.1736028, -94.670247]"
26,CSS Ram Arkansas,5 August 1862,A Confederate ironclad ram that was destroyed ...,"[30.48722, -91.2013]"
27,El Nuevo Constante,September 1766,A merchant ship that ran aground after taking ...,"[29.580617, -92.65498]"
28,CSS Louisiana,28 April 1862,"An ironclad that burned, exploded, and sunk ne...","[29.36333, -89.4613]"
29,U-166,30 July 1942,A German U-boat sunk by a depth charge from a ...,"[28.617, -90.75]"
...,...,...,...,...
72,USS Keokuk,8 April 1863,"An experimental ironclad steamer, sunk in the ...","[32.69333, -79.8719]"
73,Mary Bowers,31 August 1864,"Iron-hulled sidewheel steamer of 680 tons, str...","[32.77972, -79.7597]"
74,USS Patapsco,15 January 1865,Struck a naval mine at Charleston.,"[32.765252, -79.89128]"
75,USS Weehawken,6 December 1863,American Civil War monitor at Charleston.,"[32.7157, -79.89]"
76,Sultana,27 April 1865,A Mississippi River paddlewheeler that explode...,"[35.19056, -90.1144]"
77,SS Grandcamp,16 April 1947,"Accidental detonation of 2,300 tons of ammoniu...","[29.3775, -94.8913]"
78,SS Nicaragua,16 October 1912,Ran aground on Padre Island.,"[26.6928, -97.3182]"
79,Oaxaca,26 July 1942,A Mexican freighter torpedoed by U-171 near Po...,"[28.367, -96.18]"
80,San Esteban,29 April 1554,A Spanish cargo ship that was wrecked in a sto...,"[26.55333, -97.4253]"
81,USAS American Mariner,October 1966,A research vessel that was sunk as a target in...,"[38.04028, -76.1547]"
82,USS Cumberland,8 March 1862,A frigate that was rammed by CSS Virginia at N...,"[36.96167, -76.4316]"
83,USS Despatch,10 October 1891,A steamship that was wrecked in a gale off Ass...,"[37.9783, -75.246]"
84,CSS Florida,28 November 1864,A cruiser that collided with USAT Alliance at ...,"[37.0732, -76.543]"
85,USS John W. Weeks,19 November 1970,An Allen M. Sumner-class destroyer that was su...,"[37.1817, -73.76]"
86,USS Manta,16 July 1969,A Balao-class submarine that was sunk as a tar...,"[37.039, -76.19]"
87,SMS Ostfriesland,21 July 1921,A Helgoland-class battleship sunk as a target ...,"[37.15222, -74.5675]"
88,Ironsides,29 August 1873,A steamship that was stranded at Hog Island.,"[37.411, -75.66]"
89,SS SeaBreeze,December 2000,A cruise ship that sank off the coast of Virgi...,"[36.9059, -72.147]"
90,USS Sumpter,24 June 1863,A steamship that sank in a collision near Smit...,"[37.0968, -75.704]"
91,USS Texas,21 March 1911,A pre-dreadnought battleship that was sunk as ...,"[37.71944, -76.0833]"
92,SS Vestris,12 November 1928,A steamship that sank in a storm off Norfolk.,"[37.633, -70.38]"
93,CSS Virginia,11 May 1862,An ironclad warship that was scuttled off Cran...,"[36.90694, -76.3436]"
94,Hayate,11 December 1941,A Japanese destroyer sunk by US Marines.,"[19.167, 166.367]"
95,Kisaragi,11 December 1941,A Japanese destroyer sunk by US Marines.,"[18.917, 166.283]"
96,SS Catala,1 January 1965,A steamship that ran aground in a storm in Gra...,"[46.943, -124.11]"
97,USS General M. C. Meigs,9 January 1972,A General John Pope-class troop transport that...,"[48.286095, -124.68756]"
98,SS Great Republic,19 April 1879,An American steamboat accidentally run aground...,"[46.278, -124.02]"
99,USS Memphis,13 May 1883,A steamship that caught fire at Seattle.,"[47.62, -122.37]"
100,SS Milwaukee,22 October 1929,Sunk in Lake Michigan from storm damage.,"[43.13639, -87.8319]"
101,By country,Australia Canada France United Kingdom (Englan...,United States,"[43.13639, -87.8319]"

In [45]:
# true_coordinates = []
# #ship_wreck_data1 = ship_wreck_data.drop([0,74])
# for coordinate in ship_wreck_data['coordinates']:
#     if coordinate.find('/')==-1:
#         print('could not find')
#     else:
#         latlong = coordinate.split('/')[1]
#         new_latlong = latlong.replace("°","").strip()
#         lat = new_latlong.split()[0]
#         long = new_latlong.split()[1]
#         lat = lat[1:]

#         #print(lat[:len(lat)-2])
#         if lat[len(lat)-1] == 'S':
#             lat = 0-float(lat[:len(lat)-2])
#            # print(lat)
#         else:
#             lat = lat.strip("N")
#             #print(lat)
#         if long[len(long)-1] == 'W':
#             long = 0-float(long[:len(long)-2])
#             #print(long)
#         else:
#             long = long.strip("E")
#         #print(long)
#         try:

#             clean_coordinates = [float(lat),float(long)]

#             print(clean_coordinates)
#             true_coordinates.append(clean_coordinates)

#         except:
#             print("Sorry")
#     ship_wreck_data['coordinates'] = clean_coordinates
#     ship_wreck_data

[32.733, -79.76]

ValueError: Length of values does not match length of index

In [57]:
# true_coordinates_df = pd.DataFrame(true_coordinates)
# true_coordinates_df.columns = ['Latitude', 'Longitude']
# # true_coordinates_df
# #drop duplicate values
# true_coordinates_df =true_coordinates_df.drop_duplicates()
# true_coordinates_df

# #convert true_coordinates_df to a list then into a series so both values will be in one column as coordinates
# coordinate = true_coordinates_df.values.tolist()
# coordinate_series = pd.Series(coordinate)
# coordinate_series
#append coordinate_series to coordinate column and drop Nan values
ship_wreck_df = ship_wreck_data
# ship_wreck_df['coordinates'] = coordinate_series
ship_wreck_df

,ship,sunk_date,notes,coordinates
0,Eliza Battle,1 March 1858,A commercial steamboat that caught fire and sa...,"[32.24359, -88.0123]"
1,CSS Huntsville,12 April 1865,A Confederate ironclad warship scuttled in Spa...,"[30.76924, -88.0205]"
2,USS Philippi,5 August 1864,A Union side-wheel gunboat sunk in Mobile Bay ...,"[30.3835, -88.033]"
3,CSS Phoenix,7 August 1864,A Confederate ironclad warship scuttled at Dog...,"[30.60231, -88.0386]"
4,USS Tecumseh,5 August 1864,A Union monitor warship sunk by a naval mine (...,"[30.23167, -88.0258]"
5,CSS Tuscaloosa,12 April 1865,A Confederate ironclad warship scuttled in Spa...,"[30.76924, -88.0205]"
6,FV Alaska Ranger,23 March 2008,A factory ship that flooded and sank off Unala...,"[53.883, -169.96]"
7,SS Aleutian,26 May 1929,A passenger steamer which sank after striking ...,"[57.48, 153.84]"
8,USS Grunion,30 July 1942,Discovered in the Bering Sea in August 2007.,"[52.23778, 177.41806]"
9,I-24,11 June 1943,A Type C submarine that was sunk by USS Larchm...,"[53.267, 174.4]"
10,I-31,13 May 1943,A Type B1 submarine sunk by gunfire near Attu ...,"[52.542, 172.177]"
11,SS Islander,15 August 1901,A Canadian steamship sunk in Lynn Canal.,"[58.3765, -134.788]"
12,Nenohi,5 July 1942,A Hatsuharu-class destroyer that was torpedoed...,"[52.25, 173.85]"
13,Oboro,17 October 1942,A Fubuki-class destroyer that was sunk by US a...,"[52.283, 178.133]"
14,SS Princess Kathleen,7 September 1952,"A passenger steamer, sunk near Point Lena. Whe...","[58.234, -134.46]"
15,SS Princess Sophia,25 October 1918,A passenger liner sunk off Vanderbilt Reef nea...,"[58.6022, -135.023]"
16,MS Prinsendam,4 October 1980,A cruise ship that caught fire and sank off Ba...,"[55.883, -136.45]"
17,Elmer S. Dailey,1974,A wooden barge that sank in Bridgeport Harbor.,"[41.17367, -73.1856]"
18,Priscilla Dailey,1974,A wooden barge that sank in Bridgeport Harbor.,"[41.17367, -73.1856]"
19,USS Cherokee,26 February 1918,A tugboat that foundered in a gale off Fenwick...,"[38.84, -74.0]"
20,CSS Georgia,21 December 1864,A Civil War ironclad floating battery scuttled...,"[32.08472, -81.0358]"
21,SMS Cormoran,7 April 1917,A German steamer scuttled in Apra Harbor to av...,"[13.45917, 144.65417]"
22,USS Arizona,7 December 1941,A battleship lost in the Japanese bombing of P...,"[21.364775, -157.95011]"
23,Carthaginian II,December 2005,A sailing boat that was sunk as an artificial ...,"[20.862722, -156.67519]"
24,USS Utah,7 December 1941,A former battleship converted to a training an...,"[21.36889, -157.9625]"
25,Arabia,5 September 1856,A steamboat that sank in the Missouri River. T...,"[39.1736028, -94.670247]"
26,CSS Ram Arkansas,5 August 1862,A Confederate ironclad ram that was destroyed ...,"[30.48722, -91.2013]"
27,El Nuevo Constante,September 1766,A merchant ship that ran aground after taking ...,"[29.580617, -92.65498]"
28,CSS Louisiana,28 April 1862,"An ironclad that burned, exploded, and sunk ne...","[29.36333, -89.4613]"
29,U-166,30 July 1942,A German U-boat sunk by a depth charge from a ...,"[28.617, -90.75]"
...,...,...,...,...
72,USS Keokuk,8 April 1863,"An experimental ironclad steamer, sunk in the ...","[32.69333, -79.8719]"
73,Mary Bowers,31 August 1864,"Iron-hulled sidewheel steamer of 680 tons, str...","[32.77972, -79.7597]"
74,USS Patapsco,15 January 1865,Struck a naval mine at Charleston.,"[32.765252, -79.89128]"
75,USS Weehawken,6 December 1863,American Civil War monitor at Charleston.,"[32.7157, -79.89]"
76,Sultana,27 April 1865,A Mississippi River paddlewheeler that explode...,"[35.19056, -90.1144]"
77,SS Grandcamp,16 April 1947,"Accidental detonation of 2,300 tons of ammoniu...","[29.3775, -94.8913]"
78,SS Nicaragua,16 October 1912,Ran aground on Padre Island.,"[26.6928, -97.3182]"
79,Oaxaca,26 July 1942,A Mexican freighter torpedoed by U-171 near Po...,"[28.367, -96.18]"
80,San Esteban,29 April 1554,A Spanish cargo ship that was wrecked in a sto...,"[26.55333, -97.4253]"
81,USAS American Mariner,October 1966,A research vessel that was sunk as a target in...,"[38.04028, -76.1547]"
82,USS Cumberland,8 March 1862,A frigate that was rammed by CSS Virginia at N...,"[36.96167, -76.4316]"
83,USS Despatch,10 October 1891,A steamship that was wrecked in a gale off Ass...,"[37.9783, -75.246]"
84,CSS Florida,28 November 1864,A cruiser that collided with USAT Alliance at ...,"[37.0732, -76.543]"
85,USS John W. Weeks,19 November 1970,An Allen M. Sumner-class destroyer that was su...,"[37.1817, -73.76]"
86,USS Manta,16 July 1969,A Balao-class submarine that was sunk as a tar...,"[37.039, -76.19]"
87,SMS Ostfriesland,21 July 1921,A Helgoland-class battleship sunk as a target ...,"[37.15222, -74.5675]"
88,Ironsides,29 August 1873,A steamship that was stranded at Hog Island.,"[37.411, -75.66]"
89,SS SeaBreeze,December 2000,A cruise ship that sank off the coast of Virgi...,"[36.9059, -72.147]"
90,USS Sumpter,24 June 1863,A steamship that sank in a collision near Smit...,"[37.0968, -75.704]"
91,USS Texas,21 March 1911,A pre-dreadnought battleship that was sunk as ...,"[37.71944, -76.0833]"
92,SS Vestris,12 November 1928,A steamship that sank in a storm off Norfolk.,"[37.633, -70.38]"
93,CSS Virginia,11 May 1862,An ironclad warship that was scuttled off Cran...,"[36.90694, -76.3436]"
94,Hayate,11 December 1941,A Japanese destroyer sunk by US Marines.,"[19.167, 166.367]"
95,Kisaragi,11 December 1941,A Japanese destroyer sunk by US Marines.,"[18.917, 166.283]"
96,SS Catala,1 January 1965,A steamship that ran aground in a storm in Gra...,"[46.943, -124.11]"
97,USS General M. C. Meigs,9 January 1972,A General John Pope-class troop transport that...,"[48.286095, -124.68756]"
98,SS Great Republic,19 April 1879,An American steamboat accidentally run aground...,"[46.278, -124.02]"
99,USS Memphis,13 May 1883,A steamship that caught fire at Seattle.,"[47.62, -122.37]"
100,SS Milwaukee,22 October 1929,Sunk in Lake Michigan from storm damage.,"[43.13639, -87.8319]"
101,By country,Australia Canada France United Kingdom (Englan...,United States,"[43.13639, -87.8319]"

In [58]:
#convert dataframe to json
import json
ship_wreck_json = ship_wreck_df.to_json(orient='records')
json_format = json.loads(ship_wreck_json)

In [59]:
import pymongo
#create mongo database
myclient = pymongo.MongoClient('mongodb://localhost:27017/')

db = myclient['ship_wreck_db']

In [60]:
json_data = db.shipwreckData
json_data.drop()
json_data.insert_many(json_format)

In [ ]:
json_data = db.shipwreckData
json_data.drop()
json_data.insert_many(json_format)